body {
  /* Font stack borrowed from Jetbrains */
  font-family: "IBM Plex Mono", Menlo, Consolas, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
  font-size: 16px;
  background: #000; }

h1, h2, h3, h4, h5, p, span, div, table, a {
  color: #eee;
  font-size: 1em;
  line-height: 1.2em; }

h1, h2, h3, h4, h5, p {
  margin-bottom: 1em; }

h1, h2, h3, h4, h5 {
  margin-top: 2em; }

h1.name {
  margin-top: 0; }

.main {
  max-width: 800px;
  margin: 0 auto; }

a {
  text-decoration: underline; }

a:visited {
  color: #ccc; }

a:hover, a:active, a:focus {
  color: black;
  background: #ccc;
  text-decoration: none; }

.center {
  text-align: center; }

.tab-width-1 {
  width: 4em; }

.tab-width-2 {
  width: 8em; }

.tab-width-3 {
  width: 12em; }

.tab-width-4 {
  width: 16em; }

.tab-width-5 {
  width: 20em; }

.tab-width-6 {
  width: 24em; }

.tab-width-7 {
  width: 28em; }

@keyframes blink {
  50% {
    opacity: 0.0; } }

.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite; }

@media print {
  body {
    background: white; }
  h1, h2, h3, h4, h5, p, span, div, table {
    color: #333; } }

ul.images li {
  display: inline-block;
  margin-bottom: 2em; }
  ul.images li img {
    width: 128px; }
    ul.images li img.big {
      margin-right: 92px;
      width: 256px; }
    ul.images li img.full {
      width: 100%; }
  ul.images li .caption {
    display: block; }

.project {
  margin-top: 1em;
  margin-bottom: 2em; }
  .project .project_date {
    display: block;
    font-style: italic; }
  .project .project_label {
    display: block; }
  .project .project_tech {
    display: inline-block;
    width: 100%; }
  @media (min-width: 800px) {
    .project {
      margin-bottom: 0; }
      .project .project_date {
        display: inline-block;
        width: 12em; }
      .project .project_label {
        display: inline-block;
        width: 16em; }
      .project .project_tech {
        width: 20em; } }

.experience {
  margin-top: 1em;
  margin-bottom: 2em; }
  .experience .experience_time {
    display: block;
    font-style: italic; }
  .experience .experience_label {
    display: block; }
  .experience .experience_role {
    display: inline-block;
    width: 100%; }
  @media (min-width: 800px) {
    .experience {
      margin-bottom: 0; }
      .experience .experience_time {
        display: inline-block;
        width: 12em; }
      .experience .experience_label {
        display: inline-block;
        width: 16em; }
      .experience .experience_role {
        width: 20em; } }

.education {
  margin-top: 1em;
  margin-bottom: 2em; }
  .education .education_date {
    display: block;
    font-style: italic; }
  .education .education_label {
    display: block; }
  .education .education_score {
    display: inline-block;
    width: 100%; }
  @media (min-width: 800px) {
    .education {
      margin-bottom: 0; }
      .education .education_date {
        display: inline-block;
        width: 12em; }
      .education .education_label {
        display: inline-block;
        width: 16em; }
      .education .education_score {
        width: 20em; } }

.skill .skill_col1 {
  display: block; }

.skill .skill_col2 {
  display: block; }

@media (min-width: 800px) {
  .skill {
    margin-bottom: 0;
    margin-bottom: 1em; }
    .skill .skill_col1 {
      display: inline-block;
      width: 24em; }
    .skill .skill_col2 {
      display: inline-block;
      width: 24em; } }

.technology {
  margin-top: 1em;
  margin-bottom: 2em; }
  .technology .technology_area {
    display: block;
    font-style: italic;
    margin-bottom: 1em; }
  .technology .technology_list {
    display: block; }
  @media (min-width: 800px) {
    .technology {
      margin-bottom: 0; }
      .technology .technology_area {
        display: inline-block;
        font-style: normal;
        width: 12em;
        margin-bottom: 0; }
      .technology .technology_list {
        display: inline-block;
        width: 32em; } }

.misc .misc_col1 {
  display: block; }

.misc .misc_col2 {
  display: block; }

@media (min-width: 800px) {
  .misc {
    margin-bottom: 1em; }
    .misc .misc_col1 {
      display: inline-block;
      width: 24em; }
    .misc .misc_col2 {
      display: inline-block;
      width: 24em; } }
