doctype html
html(lang="en")
    head
        title Ben Follington - Unchain My Heart
        meta(charset="UTF-8")
        meta(name=viewport content="width=device-width, initial-scale=1")
        include ../styles.jade
    body
        section.main
            header
                h1 Unchain My Heart
                p Unchain My Heart is a game about making chains of numbers, it’s super easy to pick up but super duper hard to put down. There is one rule to the game: numbers can be joined to other numbers one higher, or one lower than themselves. The longer the chain you make, the more points you get.

                p There are scoring bonuses for spanning a wider range (1, 2, 3, 4, 5, 6 is worth more than 1, 1, 1, 2, 2, 2), but that’s all there is to it.

            section
                h2 &gt; Trailer
                div.center
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/pid_P_SCKIw" frameborder="0" allowfullscreen></iframe>

            section
                h2 &gt; Images
                ul.images
                    li
                        img(src="img/umh_1.png")
                        a.caption(href="img/umh_1.png") umh_1.png
                    li
                        img(src="img/umh_2.png")
                        a.caption(href="img/umh_2.png") umh_2.png
                    li
                        img(src="img/umh_3.png")
                        a.caption(href="img/umh_3.png") umh_3.png
                    li
                        img(src="img/umh_4.png")
                        a.caption(href="img/umh_4.png") umh_4.png
                    li
                        img(src="img/umh_5.png")
                        a.caption(href="img/umh_5.png") umh_5.png

            p.blink _
        
    include ../ga.html
